{%load bootstrap3%}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Instagram clone</title>
</head>

<body>
  {%include "navbar.html"%}
  {%block content%}
  {%block styles%}
  {%bootstrap_css%}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  {%endblock%}
  {%block scripts%}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  {%bootstrap_javascript%}
  {%endblock%}
  
  {%endblock%}
</body>

</html>