{%extends 'base.html'%}
{% block content %}
{{ block.super}}
<body>

  <body>
    <div class="container">
      <div clas="row">
        <div class="col-md-6">
          <img  src="{{profile.profile_photo.url}}"
          class="img-circle" alt="Cinque Terre" style=" width:300px ;height:300px;">
        </div>
        <div class="col-md-6">
          <h2>{{user.username}}</h2>
          <hr>
          <h1>Followers 0 <strong>{{profile.followers}}</strong> Following 1 <strong>{{profile.following}}</strong></h1>
          <p>{{profile.bio }}</p>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <hr>
      <h4 class="text-center">Posts</h4>
      <hr>
      <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        {% for image in images %}
        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4 ">
          <img style="margin:13px;height:200px;width:200px;" src="{{image.image.url}}" class="img-responsive"
            alt="Image">
        </div>
        {% endfor %}
        <!-- <a href="">
          <span style="margin:13px;font-size: 50px;border:1px solid rgb(230, 226, 226);padding:75px ;color:black"
            class="glyphicon glyphicon-plus"></span>
        </a> -->
      </div>
      <div class="col-md-2"></div>
    </div>
    </div>
  </body>
  {% endblock %}

</body>
