{%extends 'base.html'%}
{% load bootstrap3 %}
{% block content %}
<br><br>
<div class="container">
  <div class="row">
    {% if profile %}
    {% for profile in profile %}
    <div class="col-md-2"></div>
    <div class="col-md-4">
      <img src="{{profile.profile_photo.url}}" class="img-circle" alt="image" style="height:200px; width:200px;">
    </div>
    <div lass="col-md-6">
      <h2 style="text-align: center;font-family: 'Righteous', cursive;font-size: 60px">{{profile.my_profile}}</h2>
      <br><br>
      {% autoescape on %}
      <p style="text-align: center; font-family: 'Iceland', cursive;font-size: 30px">{{profile.bio| safe}}</p>
      {% endautoescape %}
    </div>
    <a class="btn btn-default" href="{% url 'profile' user.id %}">Visit profile</a>
    <div class="col-md-2"></div>
    <hr>
    {% endfor %}
    {% endif %}
  </div>
</div>
{% endblock %}
